@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
    color: #333
}

header {
    background: #35424ad9;
    color: #ffffff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.humburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff
}

.nav-menu {
    list-style: none;
    display: flex
}

.nav-menu li {
    margin-left: 20px;
    padding: 10px 0;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    transition: color 0.3s ease
}

.nav-menu a:hover {
    color: #e8491d
}

.menu-btn button {
    background: #e8491d;
    color: #ffffff;
    border: none;
    padding: 11px 21px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s ease
}

.menu-btn button:hover {
    background: #cf3c14
}

.hero {
    position: relative;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.video-background {
    background-image: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: relative;
    z-index: 1;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 10px
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px
}

.btn {
    background: #e8491d;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease
}

.hero-content .btn:hover {
    background: #cf3c14
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.about-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.about-heading p {
    font-size: 18px;
    color: #666;
    max-width: 600px;
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    margin-top: 30px;
    max-width: 1000px;
    gap: 20px;
}

.about-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-item a {
    color: #e8491d;
    text-decoration: none;
    cursor: pointer;
}

.about-item a:hover {
    text-decoration: underline;
}

.division-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('/Assets/Images/cta-bg.jpg');
    height: 30%;
    color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

.division-1 h1 {
    font-size: 36px;
    transform: uppercase;
}


/* Classes Section */
.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.about-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.classes-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
    gap: 40px;
    margin-top: 30px;
}

.left-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.left-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    gap: 15px;
    padding: 30px 30px;
}

.left-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.left-content-item .btn {
    font-size: 24px;
    padding: 20px 30px;
    background-color: #e8491d;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    transform: uppercase;
}

.right-content-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-bottom: 20px;
}

.right-content-item img {
    border-radius: 5px;
}

.schedule {
    background-image: url("/Assets/Images/schedule-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.schedule-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    gap: 10px;
}

.schedule-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.schedule-content .days {
    display: flex;
    gap: 20px;
}

.schedule-content a {
    color: #e8491d;
    text-decoration: none;
    font-weight: bold;
}

.schedule-content a:hover {
    color: white;
}

.schedule-content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 1px solid #ffffff;
}

.schedule-content table th,
.schedule-content table td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ffffff;
}

/* Trainers Section */
.trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.trainers-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.trainers-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
}

.trainer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* align-items: center; */
}


.trainer-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.trainer-item .socials a {
    color: #e8491d;
    gap: 10px;
}

.trainer-item .title {
    color: #e8491d;
}

/* Contact Section */
.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100vh;
}

.contact-content {
    background-image: url(/Assets/Images/contact-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    ;
    align-items: center;
    justify-content: center;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: space-around;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.contact-form form .message {
    grid-column: span 2;
    height: 150px;
}

.contact-form form .subject {
    grid-column: span 2;
    height: 50px;
}

.contact-form form button {
    border: none;
    padding: 15px;
    background-color: #e8491d;
}

.contact-form form button:hover {
    background-color: #cf3c14;
    cursor: pointer;
}



.footer-content {
    color: #0c0c0c;
    text-align: center;
    padding: 20px;
}

.footer-content p em {
    font-style: normal;
    font-weight: bold;
    color: #cf3c14;
}


@media screen and (max-width: 768px) {

    /* Hamburger positioning */
    .humburger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 1001;
        font-size: 24px;
    }

    /* Hide the close icon by default */
    .fa-close {
        display: none;
    }

    /* Toggle icons based on a class on the hamburger itself */
    .humburger.active .fa-bars {
        display: none;
    }

    .humburger.active .fa-close {
        display: block;
    }

    .navbar {
        display: none;
        /* Hidden by default */
        flex-direction: column;
        background-color: #e2e2e2;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* When the menu is toggled open */
    .navbar.active {
        display: flex;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu li a {
        color: black;
    }

    .logo {
        margin-left: 20px;
        color: black;
    }

    /* Layout fixes for other sections */
    .about-content,
    .classes-content,
    .trainers-content,
    .contact-us {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 30px;
        max-width: 1000px;
        gap: 20px;
    }

    .classes-content {
        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: center; */
        gap: 40px;
        margin-top: 30px;
    }

    .right-content-item {
        align-items: center;
        text-align: center;
    }

    .right-content-item img {
        width: 100%;
    }

    .trainers-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-us {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }

    .schedule-content table {
        width: 90%;
        border-spacing: 5px;
    }

    .footer-content {
        font-size: 12px;
    }
}